@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: #000;
  flex-direction: column;
}

.title {
  font-size: 5rem;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  color: #eee;
}

.flash {
  animation: flash 3s ease;
}

@keyframes flash {
  0%,
  100% {
    color: #eee;
  }
  50% {
    color: #ae1111;
  }
}
